<header class=" alert-primary mt-2 mb-2 rounded row">
    <div class="col-4 col-md-2  offset-md-3 mt-1 mb-1 ">
        <img  id="logo" src="../../../assets/images/logo.jpg" alt="Logo de la Página"/>
    </div>
    <div class="col-6 col-md-6 d-flex align-items-center order-2">
        <h4 >
            Programación Web 2021 
        </h4>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-2 border border-2 mb-2 row">
    <div class="container-fluid">
        <div class="d-md-none">
            <h4>Menú</h4>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink] = "['home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink] = "['traductor']">Traductor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink] = "['cotizacion']">Cotización</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink] = "['estadistica']">Estadísticas Covid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink] = "['about']">Acerca de</a>
                </li>
            </ul>
        </div>
    </div>
</nav>