<div class="row">
    <section class="col-md-8 d-none d-md-block mt-3" >
        <div class="card">
            <div class="card-header text-center conversor">
                <h5 class="card-title">Conversor de Divisas</h5>
            </div>
            <div class="card-body">                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="text-left">
                              <th scope="col"></th>
                              <th scope="col"> <img class="img-tabla" src="../../../assets/images/usa.png" alt="" > USD</th>
                              <th scope="col"> <img class="img-tabla" src="../../../assets/images/japon.jpg" alt="" > JPN</th>
                              <th scope="col"> <img class="img-tabla" src="../../../assets/images/argentina.jpg" alt="" > ARS</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="table-sm">
                              <th class="align-middle" rowspan="1" scope="row"> <img class="img-tabla" src="../../../assets/images/usa.png" alt="" > USD</th>
                              <td>1.00000</td>
                              <td>#.#####</td>
                              <td>#.#####</td>
                            </tr>
                            <tr class="table-sm">
                              <th class="align-middle" rowspan="1" scope="row"> <img class="img-tabla" src="../../../assets/images/japon.jpg" alt="" > JPN</th>
                              <td>#.#####</td>
                              <td>1.00000</td>
                              <td>#.#####</td>
                            </tr>
                            <tr class="table-sm">
                                <th class="align-middle" rowspan="1" scope="row"> <img class="img-tabla" src="../../../assets/images/argentina.jpg" alt="" > ARS</th>
                                <td >#.#####</td>
                                <td >#.#####</td>
                                <td >1.00000</td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    
    <aside class="col-md-4 col-sm-12 mt-3">
        <div class="card">
            <div class="card-header text-center conversor">
                <h5 class="card-title">Conversor de divisas</h5>
            </div>
            <div class="card-body card-body-form">
                <form>
                    <div class="form-group">
                        <label >Cantidad</label>
                        <input type="number" class="form-control form-control-sm" id="txtcantidad" aria-describedby="emailHelp" >                            
                    </div>
                    <div class="form-group">
                        <label >De</label>
                        <select class="form-control form-control-sm">
                            <option>Peso Argentino</option>
                            <option>Dolar US</option>
                            <option>Yen</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label >A</label>
                        <select class="form-control form-control-sm">
                            <option>Peso Argentino</option>
                            <option>Dolar US</option>
                            <option>Yen</option>
                        </select>
                    </div>
                    <div class="form-group">                            
                        <input type="password" class="form-control" readonly id="txtA">
                    </div>
                    <button type="submit" class=" col-sm-12 btn btn-warning btn-sm">Convertir</button>
                </form>
            </div>
        </div>
    </aside>

</div>