<div class="row">
    <section class="col-md-8 bg-light">
        <div class="row row-cols-2 row-cols-md-3 g-3 mt-1 mb-3">
            <div class="col">
                <div class="card h-100">
                    <img id="img-pelicula" src="images/justiceleague.jpg" class="card-img-top " alt="DC-JL">
                    <div class="card-body">
                        <h4 class="card-title text-primary"> Zack Snyder - Justice League</h4>
                        <p class="card-text">Después de los eventos de Batman V Superman, Bruce Wayne (Ben Affleck).</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img id="img-pelicula" src="images/endgame.jpg" class="card-img-top " alt="UCM - End Game">
                    <div class="card-body">
                        <h4 class="card-title text-primary"> End Game</h4>
                        <p class="card-text">Se trata del chasquido de dedos mortal del supervillano que acabó con la mitad de toda la vida.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img id="img-pelicula" src="images/starwars.jpg" class="card-img-top " alt="Star Wars">
                    <div class="card-body">
                        <h4 class="card-title text-primary"> Stars Wars - Episodio III</h4>
                        <p class="card-text">La República se desmorona bajo los ataques del despiadado Conde Dooku, señor de los Sith.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img id="img-pelicula" src="images/wolverine.jpg" class="card-img-top " alt="Wolverine">
                    <div class="card-body">
                        <h4 class="card-title text-primary"> Wolverine - Orígenes</h4>
                        <p class="card-text">Cuenta la historia sobre el pasado violento y romántico de Wolverine (Lobezno), su compleja relación con Victor Creed (alias Dientes de Sable)</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img id="img-pelicula" src="images/it.jpg" class="card-img-top " alt="IT">
                    <div class="card-body">
                        <h4 class="card-title text-primary"> ESO - Capítulo I</h4>
                        <p class="card-text">Bill (Jaeden Lieberher), su hermano mayor y futuro líder del Club de los Perdedores, le ayuda a fabricarlo y se queda en casa debido a una gripe cuando el pequeño sale.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img id="img-pelicula" src="images/titanic.jpg" class="card-img-top " alt="Titanic">
                    <div class="card-body">
                        <h4 class="card-title text-primary"> Titanic</h4>
                        <p class="card-text">Entre los miles de personas que desean un hermoso viaje, el destino elije a dos jóvenes almas para lanzarles</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="col-md-4 d-none d-md-block">
        <div class="row row-cols-12 g-2 mt-1 mb-3">
            <div class="col-12">
                <div class="card h-100">
                    <img src="images/publicidad1.jpg" class="card-img-top " alt="Publicidad 1">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/publicidad2.jpg" class="card-img-top " alt="Publicidad 2">
                </div>
            </div>
        </div>
    </aside>
</div>