<div class="row justify-content-center">
    <section class="col-12 col-md-8 mt-3">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th colspan="4"><h3 class=""> Traductor de Idiomas </h3></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col">
                        <button type="input" class="btn btn-secondary d-flex" (click)="cargarOrigen('es')" >
                            <img class="img-tabla" src="../../../assets/images/espania.jpg" alt="">
                            <h4 class="mx-1" >Español</h4>
                        </button>
                    </td>
                    <td scope="col">
                        <button type="input" class="btn btn-secondary d-flex" (click)="cargarOrigen('it')" >
                            <img class="img-tabla" src="../../../assets/images/italia.jpg" alt="">
                            <h4 class="mx-1" >Italiano</h4>
                        </button>
                    </td>
                    <td scope="col" class="d-none d-md-inline-flex" (click)="cargarOrigen('it')">
                        <button type="input" class="btn btn-secondary d-flex">
                            <img class="img-tabla" src="../../../assets/images/reinounido.jpg" alt="">
                            <h4 class="mx-1" >Inglés</h4>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="form-floating">
                            <textarea class="txtaria form-control" id="floatingTextarea2" style="height: 200px" [(ngModel)]="palabra" name="textarea"></textarea>
                            <label for="floatingTextarea2">Ingrese texto a traducir</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td scope="col">
                        <button type="input" class="btn btn-secondary d-flex" (click)="cargarDestino('es')" >
                            <img class="img-tabla" src="../../../assets/images/espania.jpg" alt="">
                            <h4 class="mx-1" >Español</h4>
                        </button>
                    </td>
                    <td scope="col">
                        <button type="input" class="btn btn-secondary d-flex" (click)="cargarDestino('it')" >
                            <img class="img-tabla" src="../../../assets/images/italia.jpg" alt="">
                            <h4 class="mx-1" >Italiano</h4>
                        </button>
                    </td>
                    <td scope="col" class="d-none d-md-inline-flex">
                        <button type="input" class="btn btn-secondary d-flex" (click)="cargarDestino('en')">
                            <img class="img-tabla" src="../../../assets/images/reinounido.jpg" alt="ingles">
                            <h4 class="mx-1" >Ingles</h4>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th colspan="4">
                        <button type="input" class="btn btn-primary w-100" (click)="traducir()">
                            <h4>Traducir</h4>
                        </button>
                    </th>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="form-floating">
                            <textarea class="txtaria2 form-control" value="Leave a comment here" id="floatingTextarea2" style="height: 200px" disabled ></textarea>
                            <label class="traduc" for="floatingTextarea2">{{traduccion}}</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>