/*Estilos Index*/
#logo {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

/*Estilos Cotizacion*/
.img-tabla {
  width: 3em;
  height: 2em;
}

.card-body-form {
  background: #4aa6d1;
}

/*Estilos Index Peliculas*/

.col .card #img-pelicula {
  width: 100%;
  height: 20rem;
}
