<div class="row justify-content-center">
    <section class="col-12 col-md-8  mt-3 ">
        <div class="card ">
            <div class="card-header ">
                <h3>Estadísticas de COVID19</h3>
            </div>
            <div class="card-body ">
                <form>
                    <div class="row ">
                        <div class="col-md-12 ">
                            <div class="col-md-12">                        
                                <div class="form-group">
                                    <select class="form-select col-md-12 mb-3 bg-light" aria-label="Default select example">
                                        <option selected>Elija País</option>
                                        <option>Argentina</option>
                                        <option>Estado Unidos</option>
                                        <option>España</option>
                                        <option>Italia</option>
                                        <option>Alemania</option>
                                        <option>Japón</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Casos Confirmados</label>                            
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Curados</label>                            
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Fallecidos</label>                            
                                </div>
                            </div>                        
                            <button type="submit" class="col-6 col-md-3 btn btn-primary">Consultar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-3">
          
            <div class="table-responsive">
                <table class="table table-striped" cellpadding="6">                    
                    <thead >
                        <tr >
                            <th colspan="4" class="text-center badge-light"><h3>Estadísticas</h3></th>
                        </tr>                    
                        <tr>
                            <th>País</th>
                            <th>Infectados</th>
                            <th>Curados</th>
                            <th>Fallecidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img class="img-tabla" src="../../../assets/images/argentina.jpg" alt=""> Argentina</td>
                            <td>3.990</td>
                            <td>1.129</td>
                            <td>197</td>
                        </tr>
                        <tr>
                            <td><img class="img-tabla" src="../../../assets/images/usa.png" alt=""> Estados Unidos</td>
                            <td>1.139.650</td>
                            <td>745.987</td>
                            <td>3.981</td>
                        </tr>
                        <tr>
                            <td><img class="img-tabla" src="../../../assets/images/espania.jpg" alt=""> España</td>
                            <td>839.650</td>
                            <td>45.987</td>
                            <td>981</td>
                        </tr>
                        <tr>
                            <td><img class="img-tabla" src="../../../assets/images/italia.jpg" alt=""> Italia </td>
                            <td>539.650</td>
                            <td>25.987</td>
                            <td>541</td>
                        </tr>
                        <tr>
                            <td><img class="img-tabla" src="../../../assets/images/alemania.jpg" alt=""> Alemania</td>
                            <td>439.650</td>
                            <td>75.987</td>
                            <td>381</td>
                        </tr>
                        <tr>
                            <td><img class="img-tabla" src="../../../assets/images/japon.jpg" alt=""> Japón</td>
                            <td>39.650</td>
                            <td>7.087</td>
                            <td>523</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>